<form action="/search" method="get" role="search">
  <input type="search" id="SearchInput" class="form-control" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" />
</form>